/* line 8, ../scss/css3.scss */
.has-single-shadow {
  text-shadow: 0px 1px 3px rgba(255, 0, 0, 0.6);
}

/* line 13, ../scss/css3.scss */
.has-custom-shadow {
  text-shadow: rgba(0, 0, 255, 0.2) 1px 1px 0, rgba(0, 0, 255, 0.2) 2px 2px 0, rgba(0, 0, 255, 0.2) 3px 3px 0;
}

/* line 17, ../scss/css3.scss */
.box {
  background: #2db34a;
  border-radius: 6px;
  cursor: pointer;
  height: 95px;
  line-height: 95px;
  text-align: center;
  width: 95px;
}

/* line 27, ../scss/css3.scss */
.box:hover {
  background: #ff7b29;
  border-radius: 50%;
}

/* line 32, ../scss/css3.scss */
.csstransitions .box {
  -moz-transition: background 1s 0;
  -o-transition: background 1s 0;
  -webkit-transition: background 1s 0;
  transition: background 1s 0;
  -moz-transition: border-radius 1s 0;
  -o-transition: border-radius 1s 0;
  -webkit-transition: border-radius 1s 0;
  transition: border-radius 1s 0;
}

/* line 37, ../scss/css3.scss */
figure {
  height: 0;
  /* For IE */
  margin: 0 0 24px 0;
  padding-bottom: 56.25%;
  /* 16:9 and only for IE5.5 */
  position: relative;
  width: 100%;
}

/* line 44, ../scss/css3.scss */
.figure-50 {
  width: 50%;
}

/* line 47, ../scss/css3.scss */
iframe {
  border: 0;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

/* line 56, ../scss/css3.scss */
::selection {
  background: #fadb00;
  color: #000;
  text-shadow: none;
}
