@charset "UTF-8";
/* line 9, ../scss/_menu.scss */
.navigation {
  height: 50px;
  background: #262626;
  padding: 0;
}

/* line 16, ../scss/_menu.scss */
.brand {
  position: absolute;
  padding-left: 20px;
  float: left;
  line-height: 50px;
  text-transform: uppercase;
  font-size: 1.4em;
}
/* line 23, ../scss/_menu.scss */
.brand a,
.brand a:visited {
  color: #ffffff;
  text-decoration: none;
}

/* line 32, ../scss/_menu.scss */
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 36, ../scss/_menu.scss */
nav ul li {
  float: left;
  position: relative;
}
/* line 39, ../scss/_menu.scss */
nav ul li a,
nav ul li a:visited {
  display: block;
  padding: 0 20px;
  line-height: 50px;
  background: #262626;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
}
/* line 48, ../scss/_menu.scss */
nav ul li a:hover,
nav ul li a:visited:hover {
  background: #d33a2c;
  color: #ffffff;
}
/* line 52, ../scss/_menu.scss */
nav ul li a:not(:only-child):after,
nav ul li a:visited:not(:only-child):after {
  padding-left: 4px;
  content: ' ▾';
}
/* line 57, ../scss/_menu.scss */
nav ul li ul li {
  min-width: 190px;
}
/* line 59, ../scss/_menu.scss */
nav ul li ul li a {
  padding: 15px;
  line-height: 20px;
}

/* Mobile navigation */
/* line 70, ../scss/_menu.scss */
.nav-mobile {
  display: none;
  background: #262626;
  height: 50px;
  width: 50px;
  float: right;
}

/* line 78, ../scss/_menu.scss */
.nav-list {
  clear: both;
  display: none;
}

/* line 82, ../scss/_menu.scss */
.nav-mobile {
  display: block;
}

/* line 85, ../scss/_menu.scss */
.nav-link {
  font-size: 1.3rem;
}

@media only screen and (max-width: 768px) {
  /* line 89, ../scss/_menu.scss */
  nav {
    width: 100%;
    padding: 50px 0 15px;
  }
  /* line 93, ../scss/_menu.scss */
  nav ul li {
    float: none;
  }
  /* line 95, ../scss/_menu.scss */
  nav ul li a {
    padding: 15px;
    line-height: 20px;
  }
  /* line 99, ../scss/_menu.scss */
  nav ul li ul li a {
    padding-left: 30px;
  }

  /* line 105, ../scss/_menu.scss */
  .nav-dropdown {
    position: static;
  }
}
@media screen and (min-width: 768px) {
  /* line 111, ../scss/_menu.scss */
  .navigation {
    height: auto;
  }

  /* line 114, ../scss/_menu.scss */
  .nav-mobile {
    display: none;
  }

  /* line 117, ../scss/_menu.scss */
  .nav-list {
    display: flex !important;
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media screen and (min-width: 992px) {
  /* line 125, ../scss/_menu.scss */
  .nav-link {
    font-size: 1.8rem;
  }
}
/* line 130, ../scss/_menu.scss */
#nav-toggle {
  cursor: pointer;
  display: block;
  padding: 22px 0;
}
/* line 134, ../scss/_menu.scss */
#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 35px;
  background: #ffffff;
  position: absolute;
  display: block;
  content: '';
  transition: all 300ms ease-in-out;
}
/* line 147, ../scss/_menu.scss */
#nav-toggle span:before {
  top: -10px;
}
/* line 150, ../scss/_menu.scss */
#nav-toggle span:after {
  bottom: -10px;
}
/* line 153, ../scss/_menu.scss */
#nav-toggle.active span {
  background-color: transparent;
}
/* line 155, ../scss/_menu.scss */
#nav-toggle.active span:before, #nav-toggle.active span:after {
  top: 0;
}
/* line 159, ../scss/_menu.scss */
#nav-toggle.active span:before {
  transform: rotate(45deg);
}
/* line 162, ../scss/_menu.scss */
#nav-toggle.active span:after {
  transform: rotate(-45deg);
}

/* line 167, ../scss/_menu.scss */
.autoheight {
  height: auto;
}

@font-face {
  font-family: Adobe Caslon;
  font-style: normal;
  font-weight: 400;
  src: url("fonts/AdobeCaslonPro-Regular.woff2") format("woff2"), url("fonts/AdobeCaslonPro-Regular.woff") format("woff");
}
@font-face {
  font-family: Adobe Caslon;
  font-style: italic;
  font-weight: 400;
  src: url("fonts/AdobeCaslonPro-Italic.woff2") format("woff2"), url("fonts/AdobeCaslonPro-Italic.woff") format("woff");
}
@font-face {
  font-family: Adobe Caslon;
  font-style: normal;
  font-weight: 500;
  src: url("fonts/AdobeCaslonPro-SemiBold.woff2") format("woff2"), url("fonts/AdobeCaslonPro-SemiBold.woff") format("woff");
}
@font-face {
  font-family: Adobe Caslon;
  font-style: normal;
  font-weight: 700;
  src: url("fonts/AdobeCaslonPro-Bold.woff2") format("woff2"), url("fonts/AdobeCaslonPro-Bold.woff") format("woff");
}
@font-face {
  font-family: Adobe Caslon;
  font-style: italic;
  font-weight: 700;
  src: url("fonts/AdobeCaslonPro-BoldItalic.woff2") format("woff2"), url("fonts/AdobeCaslonPro-BoldItalic.woff") format("woff");
}
@font-face {
  font-family: ElenaInitial;
  src: url("fonts/elenawebregular.woff2") format("woff2"), url("fonts/elenawebregular.woff") format("woff");
}
@font-face {
  font-family: Elena;
  src: url("fonts/elenawebregular.woff2") format("woff2"), url("fonts/elenawebregular.woff") format("woff");
}
@font-face {
  font-family: Elena;
  src: url("fonts/elenawebregularitalic.woff2") format("woff2"), url("fonts/elenawebregularitalic.woff") format("woff");
  font-style: italic;
}
@font-face {
  font-family: Elena;
  src: url("fonts/elenawebbold.woff2") format("woff2"), url("fonts/elenawebbold.woff") format("woff");
  font-weight: 700;
}
@font-face {
  font-family: Elena;
  src: url("fonts/elenawebbolditalic.woff2") format("woff2"), url("fonts/elenawebbolditalic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: MijaInitial;
  src: url("fonts/mija_regular-webfont.woff2") format("woff2"), url("fonts/mija_regular-webfont.woff") format("woff");
}
@font-face {
  font-family: Mija;
  src: url("fonts/mija_regular-webfont.woff2") format("woff2"), url("fonts/mija_regular-webfont.woff") format("woff");
}
@font-face {
  font-family: Mija;
  src: url("fonts/mija_bold-webfont.woff2") format("woff2"), url("fonts/mija_bold-webfont.woff") format("woff");
  font-weight: 700;
}
/* line 92, ../scss/main.scss */
body {
  font-family: "Elena";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}

/* line 99, ../scss/main.scss */
::selection {
  color: #fff;
  text-shadow: none;
  background: #d33a2c;
  margin: 0;
  padding: 0;
}

/* line 106, ../scss/main.scss */
dt {
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: 2em;
  margin-bottom: 1em;
  color: #d33a2c;
  font-weight: 700;
  font-size: 1.3rem;
}

/* line 115, ../scss/main.scss */
dd {
  font-size: 1.2rem;
  line-height: 1.5rem;
  letter-spacing: -0.25px;
}

/* line 120, ../scss/main.scss */
.container {
  width: 100%;
  padding: 0;
  margin-right: auto;
  margin-left: auto;
}

/* line 126, ../scss/main.scss */
.footer {
  padding-right: 0;
  text-align: center;
  background-color: #f6f6f6;
  border-radius: 11px;
  padding: 2.5em 0;
}

/* line 133, ../scss/main.scss */
.comments-title {
  font-size: 1.9em;
  text-align: left;
  border-top: 1px solid #f3f3f3;
  line-height: 1.333em;
  margin: 20x 0;
  padding: 0;
  clear: both;
}

/* line 144, ../scss/main.scss */
.main .title {
  text-align: center;
  color: #d33a2c;
  font-size: 3rem;
  line-height: 56.8512px;
  letter-spacing: -0.25px;
  font-family: Mija;
  font-feature-settings: "onum" 1;
  padding-bottom: 10px;
  border-bottom: 1px solid #000;
}

/* line 156, ../scss/main.scss */
.description {
  font-size: 1.2rem;
  text-align: left;
  letter-spacing: -0.25px;
  line-height: 2rem;
}

/* line 162, ../scss/main.scss */
.row {
  display: flex;
}
/* line 164, ../scss/main.scss */
.row .col1 {
  flex: 2;
}
/* line 167, ../scss/main.scss */
.row .col2 {
  flex: 1;
}

/* line 171, ../scss/main.scss */
.mainImage {
  width: 75%;
  display: block;
  margin: 0 auto;
}

/* line 176, ../scss/main.scss */
.image1 {
  width: 100%;
  height: 100%;
  border-radius: 15px 0 0 15px;
  display: none;
}
/* line 181, ../scss/main.scss */
.image1[src] {
  display: block;
}

/* line 185, ../scss/main.scss */
.image2 {
  border-radius: 0 15px 0 0;
}

/* line 188, ../scss/main.scss */
.image3 {
  border-radius: 0 0 15px 0;
}

/* line 191, ../scss/main.scss */
.image2, .image3 {
  width: 100%;
  height: 50%;
  display: none;
}
/* line 195, ../scss/main.scss */
.image2[src], .image3[src] {
  display: block;
}

/* line 199, ../scss/main.scss */
.img-fluid {
  max-width: 100%;
  height: auto;
}

/* line 203, ../scss/main.scss */
.glossaryimages {
  overflow: hidden;
  *zoom: 1;
}
/* line 205, ../scss/main.scss */
.glossaryimages figure {
  width: 33%;
  float: left;
  margin: 0;
}
/* line 209, ../scss/main.scss */
.glossaryimages figure img {
  width: 100%;
}
/* line 212, ../scss/main.scss */
.glossaryimages figure figcaption {
  text-align: center;
  font-style: italic;
  font-size: 1.2rem;
}
/* line 218, ../scss/main.scss */
.glossaryimages .necklineimg {
  width: 100%;
  float: none;
}

/* line 223, ../scss/main.scss */
.footer-menu-copyright {
  text-align: center;
}

@media (min-width: 576px) {
  /* line 228, ../scss/main.scss */
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  /* line 235, ../scss/main.scss */
  .container {
    max-width: 720px;
  }

  /* line 238, ../scss/main.scss */
  .description {
    font-size: 1.5rem;
  }
}
@media (min-width: 992px) {
  /* line 245, ../scss/main.scss */
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  /* line 252, ../scss/main.scss */
  .container {
    max-width: 1050px;
  }
}
